.shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#carousel3 .carousel-control-prev, #carousel3 .carousel-control-next { visibility: hidden; }
#carousel3:hover .carousel-control-prev, #carousel3:hover .carousel-control-next { visibility: visible; }

.carousel-control-right-bottom {position:absolute;bottom:10px;right:12px;}
.carousel-control-left-bottom {position:absolute;bottom:10px;left:12px;}
.carousel-control-right-top {position:absolute;top:14px;right:12px;}
.carousel-control-left-top {position:absolute;top:14px;left:12px;}

#carousel5 .carousel-caption {bottom:0px;padding: 4px 0px 4px 0px;left:5%;right:5%}
#carousel5 .carousel-caption p{margin: 0px 0px 8px 0px;}

#carousel6 .carousel-caption {top:0px;left:5%;right:5%}


.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
